Repository yyc-lab/meta-labs, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, database, repo, github

.github/labeler.yml:

frontend:
    - frontend/**/*

backend:
    - backend/**/*

database:
    - migrations/**/*

repo:
    - ./*

github:
    .github/**/*

create Documents component for Project info Page
  frontend/src/components/Documents/Documents.js
  frontend/src/components/Documents/documents.stories.js
  frontend/src/components/Documents/index.js
Labels: frontend

create Members component for Project info Page
  frontend/src/components/Members/Members.js
  frontend/src/components/Members/index.js
  frontend/src/components/Members/members.stories.js
Labels: frontend

create ProjectDetails component for project info page
  frontend/src/components/ProjectDetails/ProjectDetails.js
  frontend/src/components/ProjectDetails/index.js
  frontend/src/components/ProjectDetails/project_details.stories.js
Labels: frontend

update project page with new components and format MenuBar
  frontend/src/components/MenuBar/MenuBar.js
  frontend/src/external_components/index.js
  frontend/src/pages/Project/Project.js
Labels: frontend

add placeholder project name and components
  frontend/src/pages/NewProject/NewProject.js
Labels: frontend

add breadcrumb for new project
  frontend/src/pages/NewProject/NewProject.js
Labels: frontend

Add card for project and project detail
  frontend/src/pages/NewProject/NewProject.js
Labels: frontend

add projectName styles
  frontend/src/pages/NewProject/NewProject.js
  frontend/src/pages/NewProject/styles.css
Labels: frontend

add project pagination styles
  frontend/src/pages/NewProject/styles.css
Labels: frontend

hide seperator
  frontend/src/pages/NewProject/styles.css
Labels: frontend

change active pagination color
  frontend/src/pages/NewProject/styles.css
Labels: frontend

format project detail components
  frontend/src/components/Documents/Documents.js
  frontend/src/components/Members/Members.js
  frontend/src/components/MenuBar/MenuBar.js
  frontend/src/components/ProjectDetails/ProjectDetails.js
  frontend/src/pages/Project/Project.js
Labels: frontend

format project details component
  frontend/src/components/ProjectDetails/ProjectDetails.js
Labels: frontend

format ProjecPanel component
  frontend/src/components/ProjectsPanel/ProjectsPanel.js
  frontend/src/external_components/index.js
Labels: frontend

add routing to project detail page from projects list page
  frontend/src/pages/Project/Project.js
  frontend/src/pages/Projects/Projects.js
Labels: frontend

Create project card component for project details
  frontend/src/components/ProjectCard/ProjectCard.js
  frontend/src/components/ProjectCard/index.js
  frontend/src/components/ProjectCard/project_card.stories.js
Labels: frontend

refactor project panel component
  frontend/src/components/ProjectsPanel/ProjectsPanel.js
Labels: frontend

refactor projects component
  frontend/src/pages/App/App.js
  frontend/src/pages/Projects/Projects.js
Labels: frontend

Add input fields for the repo and timeline
  frontend/src/pages/NewProject/NewProject.js
Labels: frontend

refactor styling antd import for new project component
  frontend/src/external_components/index.js
  frontend/src/pages/NewProject/NewProject.js
Labels: frontend

wire login funcionality into frontend
  backend/routes/auth-routes.js
  frontend/.env-example
  frontend/src/pages/Login/Login.js
  frontend/src/pages/Projects/Projects.js
  index.js
Labels: frontend, backend, repo

add Links to header
  frontend/src/components/Header/Header.js
  frontend/src/pages/App/App.js
Labels: frontend

fix story book
  frontend/src/components/ProjectCard/project_card.stories.js
Labels: frontend

change status to 422 if payload is invalid for create project
  backend/routes/projects.js
Labels: backend

send form data to server on project create
  frontend/src/pages/NewProject/NewProject.js
  frontend/src/state/index.js
Labels: frontend

null value handling on projects page
  frontend/src/components/ProjectsPanel/ProjectsPanel.js
Labels: frontend

fix project stuck in loading state, refactoring
  frontend/src/components/Header/Header.js
  frontend/src/components/ProjectsPanel/ProjectsPanel.js
  frontend/src/pages/Projects/Projects.js
Labels: frontend

fetch user on login
  frontend/package-lock.json
  frontend/src/components/Header/Header.js
  frontend/src/pages/Login/Login.js
  index.js
Labels: frontend, repo
