Repository yyc-lab/meta-labs, pull requests merged in 2020-02, with the labels that each got.

#18 PR Labeller
  .github/labeler.yml
  .github/workflows/label.yml
Labels: github

#21 Feature/new page
  frontend/src/pages/NewProject/NewProject.js
  frontend/src/pages/NewProject/styles.css
Labels: frontend

#20 Feature/project pages
  frontend/src/components/Documents/Documents.js
  frontend/src/components/Documents/documents.stories.js
  frontend/src/components/Documents/index.js
  frontend/src/components/Members/Members.js
  frontend/src/components/Members/index.js
  frontend/src/components/Members/members.stories.js
  frontend/src/components/MenuBar/MenuBar.js
  frontend/src/components/MenuBar/index.js
  frontend/src/components/MenuBar/menu_bar.stories.js
  frontend/src/components/ProjectCard/ProjectCard.js
  frontend/src/components/ProjectCard/index.js
  frontend/src/components/ProjectCard/project_card.stories.js
  frontend/src/components/ProjectDetails/ProjectDetails.js
  frontend/src/components/ProjectDetails/index.js
  frontend/src/components/ProjectDetails/project_details.stories.js
  frontend/src/components/ProjectsPanel/ProjectsPanel.js
  frontend/src/external_components/index.js
  frontend/src/pages/App/App.js
  frontend/src/pages/Project/Project.js
  frontend/src/pages/Projects/Projects.js
Labels: frontend

#22 Minimal (almost) viable product
  backend/routes/auth-routes.js
  backend/routes/projects.js
  frontend/.env-example
  frontend/package-lock.json
  frontend/src/components/Header/Header.js
  frontend/src/components/ProjectCard/project_card.stories.js
  frontend/src/components/ProjectsPanel/ProjectsPanel.js
  frontend/src/pages/App/App.js
  frontend/src/pages/Login/Login.js
  frontend/src/pages/NewProject/NewProject.js
  frontend/src/pages/Projects/Projects.js
  frontend/src/state/index.js
  index.js
Labels: backend, frontend

#24 Further docker setup
  .env-example
  Dockerfile
  docker-compose.yml
  frontend/package.json
Labels: frontend

#14 Feature/fe api funcs
  frontend/__mocks__/axios.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/auth.js
  frontend/src/api/index.js
  frontend/src/api/tests/useApi.test.js
  frontend/src/api/useApi.js
  frontend/src/lib/apiHelpers.js
  frontend/src/lib/useFormInputs.js
  frontend/src/pages/Login/Login.js
  frontend/src/pages/NewProject/NewProject.js
  frontend/src/pages/Projects/Projects.js
  frontend/src/state/index.js
Labels: backend, changes required, frontend

#28 ensures api/auth uses proxy
  frontend/src/api/auth.js
Labels: frontend

#27 Feature/render pages login dependent
  frontend/src/api/auth.js
  frontend/src/components/Header/Header.js
  frontend/src/components/ProjectsPanel/ProjectsPanel.js
  frontend/src/components/ProjectsPanel/styles.css
  frontend/src/pages/App/App.js
  frontend/src/pages/Login/Login.js
  frontend/src/pages/Login/login.css
  frontend/src/pages/NewProject/NewProject.js
  frontend/src/pages/NewProject/index.js
  frontend/src/pages/NewProject/styles.css
  frontend/src/pages/Projects/Projects.js
  frontend/src/pages/root/Dashboard.js
Labels: frontend
